body {
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #fab561 0%, #F76B1C 100%);
}

.dark-mode {
    background-color: black;
    color: white;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#darkbutton {
    position: fixed;
    top: 10px;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#darkbutton img {
    width: 30px;
    height: 30px;
}

#darkbutton:hover {
    cursor: pointer;
    animation: blink 1s;
}

/* Navigation */
#nav {
    width: 100%;
    text-align: center;
}

#nav ul {
    text-align: left;
    display: inline;
    padding: 15px 4px 17px 0;
    list-style: none;
}

#nav ul li {
    font-weight:bold ;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    background: inherit;
    cursor: pointer;
}

#nav ul li:hover {
    background: #af7a4d;
    color: #fff;
}

#nav ul li ul {
    padding: 0;
    position: absolute;
    top: 46px;
    left: 0;
    width: 200px;
    display: none;
}

#nav ul li ul li {
    background: #af8951;
    display: block;
    color: #fff;
}

#nav ul li ul li:hover { background: #776b5b; }

#nav ul li:hover ul {
    display: block;
}

/* Menu déroulant animation d'ouverture */
#nav ul li:hover {
    transform: translateY(5px);
    transition: all 0.3s ease;
}

#nav a {
    text-decoration: none;
    color: inherit;
}