body {
    background-color: white;
    color: black;
    font-size: 25px;
}

.dark-mode {
    background-color: black;
    color: white;
}


@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#darkbutton {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#darkbutton img {
    width: 30px;
    height: 30px;
}

#darkbutton:hover {
    cursor: pointer;
    animation: blink 1s;
}